body{
margin-left: auto;
margin-right: auto;
text-align: center;
background-image: url("https://i.pinimg.com/originals/97/57/93/975793fff4eb682dcc396c2885a13f2f.jpg");

}



nav{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

aside{
	margin-left: auto;
	margin-right: auto;
}







#menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;

}

#menu li{
	float: left;
}

#menu a{
	color: black;
	text-decoration: none;
	display: block;
	padding: 12px 26px;
	font-family: "Castoro";
}

#menu {
	background: rgba(235,233,249,1);
	width: 1100px;
	height: 52px
}

#menu a:hover {
	color: rgb(101, 153, 255);

}

#sonido{

	margin: 10px auto;
	width: 1100px;
	color: white;
}



#tit{
    background: rgba(235,233,249,1);
	color: black;
	text-align: center;
	width: 1100px;	
	margin: 10px auto;
	font-family: 'Castoro', serif;
	border-style: solid;
	border-color: black;
}

.parrafo{
	text-align: justify;

}

#banner{
	
	margin: 0px;
	padding: 0px 910px;
	width: 300px;
	height: 250px;
}





#cuento{
	background: rgba(235,233,249,1);	
    width: 1100px;	
	margin: 10px auto;
	border-style: solid;
	border-color: black;
	text-align: left;

}

